<div class="login">
<!--  <div class="login-nav">-->
<!--    <p class="login-nav__title">Are you not registered?</p>-->
<!--    <button mat-raised-button-->
<!--            color="primary"-->
<!--            [routerLink]="'/registration'"-->
<!--    >Registration</button>-->
<!--  </div>-->
  <div class="login-header">
    <img (click)="navToPage('login')" src="assets/img/logo-hero.svg" alt="logo" class="login-header__img">
    <button style="visibility: hidden"
            mat-button
            class="login-header__btn"
            (click)="navToPage('battle')"
    >Battle
    </button>
    <button
      mat-button
      class="login-header__btn"
      (click)="navToPage('registration')"
    >Registration
    </button>
  </div>

  <div class="login-form">
    <h2>Sign In</h2>
    <div class="login-form-control">
      <p class="login-form-control__label">Email</p>

      <mat-form-field class="example-form-field" appearance="fill">
<!--        <mat-label>Clearable input</mat-label>-->
        <input matInput type="text" [formControl]="loginForm.get('email') | getControl">
        <!--        <button *ngIf="emailControl.value" matSuffix mat-icon-button aria-label="Clear"-->
        <!--                (click)="emailControl.reset('')">-->
        <!--          <mat-icon>close</mat-icon>-->
        <!--        </button>-->
      </mat-form-field>
    </div>
    <div class="login-form-control">
      <p class="login-form-control__label">Password</p>

      <mat-form-field class="example-form-field" appearance="fill">
<!--        <mat-label>Clearable input</mat-label>-->
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="loginForm.get('password') | getControl">
        <!--        <button *ngIf="passwordControl.value" matSuffix mat-icon-button aria-label="Clear"-->
        <!--                (click)="passwordControl.reset('')">-->
        <!--          <mat-icon>close</mat-icon>-->
        <!--        </button>-->
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="login-form-warning">
      <p *ngIf="noSuchUser">
        {{ noUserMessage}}
      </p>
    </div>


    <button class="login-form__btn" mat-raised-button
            color="primary"
            [disabled]="!loginForm.valid"
            (click)="login()"
    >Login
    </button>
<!--    <p class="login-form__link"-->
<!--      (click)="routerNavigate()"-->
<!--    >or Create account-->
<!--    </p>-->
  </div>
</div>
