//.login {
//  padding-top: 100px;
//  &-nav {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    margin-bottom: 50px;
//    &__title {
//      margin-right: 16px;
//      font-size: 16px;
//      font-weight: 700;
//      color: blueviolet;
//    }
//  }
//  &-form {
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    justify-content: center;
//
//    &-control {
//      &__label {
//        font-size: 16px;
//        font-weight: 700;
//        color: blueviolet;
//      }
//    }
//  }
//}
.login {
  //padding-top: 100px;
  //height: 875px;
  //background: url("./../../../../assets/img/registr.png");
  //background-size: 100% 100%;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .1);
    margin-bottom: 30px;

    &__img {
      width: 48px;
      height: 48px;
      cursor: pointer;
    }

    &__btn {
      font-size: 16px;
      font-weight: 500;
      color: blueviolet;
    }
  }
  &-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    &__title {
      margin-right: 16px;
      font-size: 16px;
      font-weight: 700;
      color: blueviolet;
    }
  }
  &-form {
    width: 310px;
    //height: 290px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: left;
    border: 1px solid rgba(0, 0, 0, 0.3);

    & h2 {
      margin: 0 auto 20px auto;
      color: blueviolet;
    }

    &-control {
      display: flex;
      //flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &__label {
        font-size: 16px;
        font-weight: 700;
        color: blueviolet;
      }
    }
    &-warning {
      min-height: 32px;
      display: block;
      //border: 1px solid;
      margin-bottom: 10px;
      font-weight: 700;
      color: blueviolet;
    }
    &__btn {

    }
    &__link {
      margin-top: 12px;
      text-align: right;
      font-size: 13px;
      font-weight: 400;
      color: blueviolet;
      cursor: pointer;
    }
  }
}
.invalid {
  //border: 1px solid red;
  box-shadow: 0px 0px 2px 3px rgba(255, 0, 0, 0.5);
}
