<app-home-heder *ngIf="allowedShowPage"></app-home-heder>
<div class="battle" *ngIf="allowedShowPage">
  <h3  *ngIf="showText">Please, get ready your hero!</h3>
  <div class="battle-container" *ngIf="hero">
    <div class="battle-container-hero">
      <div class="battle-container-hero-card">
        <app-hero-card
          [page]="cardClass"
          [disableViewBtn]="'hideBtn'"
          [disableSelectBtn]="'hideBtn'"
          [getReady]="true"
          (updateCardEvent)="this.updateList()"
          [hero] = hero
        ></app-hero-card>
      </div>
      <div class="battle-container-hero-search" [ngClass]="showOpponent">
        <div [ngClass]="searchText"><span>searching for an<br><br> opponent...</span></div>
        <div [ngClass]="resultText" [class]="colorText"><span>{{fightResultText}}</span></div>
        <img src="./../../../../assets/img/swords.svg" alt="swords" [ngClass]="fightSwordsImg">
        <div class="battle-container-hero-search-spinner" [ngClass]="spinnerImg">
          <mat-progress-spinner
            class="example-margin"
            [color]="'primary'"
            [mode]="'indeterminate'">
          </mat-progress-spinner>
        </div>
        <app-button-header [ngClass]="stopSearchBtn"
          class="battle-container-hero-search-btn"
          [buttonText]="'STOP'"
          [buttonClass]="'battle-search-btn'"
          (click)="stopSearch()"
        ></app-button-header>
      </div>
      <div class="battle-container-hero-opponent" [ngClass]="showOpponent">
        <div class="battle-container-hero-opponent-card" [ngClass]="showOpponentCard">
          <app-hero-card *ngIf="opponent"

            [page]="cardClass"
            [disableViewBtn]="'hideBtn'"
            [disableSelectBtn]="'hideBtn'"
            [hero] = opponent
          ></app-hero-card>
        </div>
      </div>
    </div>
    <button class="battle-container-btn"
              [ngClass]="searchOpponentBtn"
              (click)="findOpponent()"
      >Find Opponent
      </button>
    <div class="battle-container-bonuses" [ngClass]="searchOpponentBonuses">
          <div class="user-bonuses-intelligence" (click)="applyBonus('intelligence')">
            <img src="./../../../../assets/img/powerUps/cloak.jpg" alt="bonus-intelligence">
            <h3>intelligence +10<br><br>left: <strong>{{bonuses.intelligence}}</strong></h3>
          </div>
          <div class="user-bonuses-strength" (click)="applyBonus('strength')">
            <img src="./../../../../assets/img/powerUps/ring.jpg" alt="bonus-strength">
            <h3>strength +10<br><br>left: <strong>{{bonuses.strength}}</strong></h3>
          </div>
          <div class="user-bonuses-speed" (click)="applyBonus('speed')">
            <img src="./../../../../assets/img/powerUps/boots.jpg" alt="bonus-speed">
            <h3>speed +10<br><br>left: <strong>{{bonuses.speed}}</strong></h3>
          </div>
          <div class="user-bonuses-durability" (click)="applyBonus('durability')">
            <img src="./../../../../assets/img/powerUps/shield.jpg" alt="bonus-durability">
            <h3>durability +10<br><br>left: <strong>{{bonuses.durability}}</strong></h3>
          </div>
          <div class="user-bonuses-power" (click)="applyBonus('power')">
            <img src="./../../../../assets/img/powerUps/mjolnir.jpg" alt="bonus-power">
            <h3>power +10<br><br>left: <strong>{{bonuses.power}}</strong></h3>
          </div>
          <div class="user-bonuses-combat" (click)="applyBonus('combat')">
            <img src="./../../../../assets/img/powerUps/ironman.jpg" alt="bonus-combat">
            <h3>combat +10<br><br>left: <strong>{{bonuses.combat}}</strong></h3>
          </div>
        </div>
  </div>
</div>
