<!--<p>home-page works!</p>-->
<!--<p>User: {{authUser.email}}</p>-->
<div class="home">
  <div class="home-header">
    <img (click)="navToPage('home')" src="assets/img/logo-hero.svg" alt="logo" class="home-header__img">
    <button
      mat-button
      class="home-header__btn"
      (click)="navToPage('battle')"
    >Battle
    </button>
    <button
      mat-button
      class="home-header__btn"
      (click)="navToPage('user')"
    >{{ authUser.name }}
    </button>
  </div>
  <div class="home-wrapper">

    <div class="home-wrapper-form">
      <div class="home-wrapper-form__keyboard" [ngClass]="keyboardHide">
        <button
          mat-button
          *ngFor="let letter of alphabet"
          class="home-wrapper-form__btn"
          (click)="getLetter(letter)"
        >{{ letter }}
        </button>
      </div>
      <div class="">
        <button
          mat-button
          class="home-wrapper-form__btn"
          [ngClass]="highlightBtn"
          (click)="showKeys()"
        >{{ pressedLetter || 'A' }}
        </button>
      </div>


      <mat-form-field class="home-wrapper-form-full-width" appearance="fill">
        <mat-label>Hero name</mat-label>

        <input type="text" matInput placeholder="super" [ngClass]="getClassSearch('search')" [formControl]="searchForm.get('search') | getControl">
        <mat-icon matSuffix class="home-wrapper-form-full-width__search">search</mat-icon>
      </mat-form-field>
    </div>
  </div>


</div>
