.home {


  &-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .1);
    margin-bottom: 30px;

    &__img {
      width: 48px;
      height: 48px;
      cursor: pointer;
    }

    &__btn {
      font-size: 16px;
      font-weight: 500;
      color: blueviolet;
    }
  }
  &-wrapper {
    display: flex;
    align-items: start;

    &-form {
      width: 760px;
      margin: 0 auto;
      left: -80px;
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: center;
      //border: 1px solid;
      position: relative;

      &__keyboard {
        width: 210px;
        padding: 0;
        top: 0px;

        display: flex;
        flex-wrap: wrap;
      }

      &-full-width {
        width: 100%;
        //border: 1px solid;

        &__search {
          cursor: pointer;
        }
      }
      &__btn {
        min-width: unset!important;
        min-height: unset!important;
        width: 34px !important;
        height: 34px !important;
        padding: 0 !important;
        margin: 0 5px 5px 0;
        border-radius: 5px;
        color: #fff;
        background: unset !important;
        background-color: #dc3545 !important;
        border-color: #dc3545;

        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        user-select: none;
        //padding: 0.375rem 1rem;
        font-size: 1rem;
        //vertical-align: baseline;
        line-height: 1.5;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
    }

  }

}

.mat-button.home-wrapper-form__btn {

}

.keyboard-hide {
  visibility: hidden;
}
.highlight-btn {
  box-shadow: 0 0 4px 4px rgba(138,43,226, .5);
}
