.home {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .1);
    margin-bottom: 30px;

    &__img {
      width: 48px;
      height: 48px;
      cursor: pointer;
    }

    &__btn {
      font-size: 16px;
      font-weight: 500;
      color: blueviolet;
    }
  }

  &-wrapper {
    display: flex;
    align-items: flex-start;

    &-form {
      width: 760px;
      margin: 0 auto;
      left: -80px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      //border: 1px solid;
      position: relative;

      &__keyboard {
        width: 210px;
        padding: 0;
        top: 0;

        display: flex;
        flex-wrap: wrap;
      }

      &-full-width {
        width: 100%;
        //border: 1px solid;

        &__search {
          cursor: pointer;
        }
      }
      &__btn {
        min-width: unset!important;
        min-height: unset!important;
        width: 34px !important;
        height: 34px !important;
        padding: 0 !important;
        margin: 0 5px 5px 0;
        border-radius: 5px;
        color: #fff;
        background: unset !important;
        background-color: #dc3545 !important;
        border-color: #dc3545;

        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        user-select: none;
        //padding: 0.375rem 1rem;
        font-size: 1rem;
        //vertical-align: baseline;
        line-height: 1.5;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
    }
  }
  &-heroes {
    //border: 1px solid;
    width: 550px;
    margin: 0 auto;
    top: -205px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__qty {
      min-height: 24px;
      display: block;
      //border: 1px solid #000;
      margin: 0 auto;
      margin-bottom: 10px;
      font-weight: 700;
      color: blueviolet;
    }

    &-cards {
      //border: 1px solid;

      display: flex;
      flex-direction: column;
      justify-content: center;

      &-card {
        margin: 0 auto;
        //border: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-buttons {
          width: 74%;
          margin: 0 auto;
          margin-bottom: -40px;
          //border: 1px solid;
          position: relative;
          z-index: 1;
          top: 5px;

          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &__btn {
            //border: 1px solid;
            font-size: 16px;
            font-weight: 400;
            color: blueviolet;
            scale: 80%;
            background-color: rgba(255, 255, 255, .7);
          }

          &__name {
            //border: 1px solid;
            font-size: 20px;
            border-radius: 15px;
            padding: 0 10px 0 10px;
            vertical-align: middle;
            line-height: 35px;
            white-space: nowrap;
            font-weight: 400;
            scale: 80%;
            background-color: rgba(255, 255, 255, 0.7); }
        }

        &-image {
          //border: 1px solid;
          margin: 0 auto;
          width: 80%;
          border-radius: 30px;
        }
        &-powerstats {
          margin: 0 auto;
          margin-bottom: -50px;
          //border: 1px solid;
          position: relative;
          z-index: 1;
          top: -80px;

          display: flex;
          flex-direction: row;

          &-item {
            width: 32px;
            height: 60px;
            margin: 0 7px 0 7px;
            padding: 5px;
            border-radius: 18px;
            background-color: rgba(255, 255, 255, .7);

            & img {
              //border: 1px solid;
              //border-radius: 8px;
              width: 32px;
            }
          }


        }
      }
    }
  }
}

.mat-button.home-wrapper-form__btn {

}

.keyboard-hide {
  visibility: hidden;
}
.highlight-btn {
  box-shadow: 0 0 4px 4px rgba(138,43,226, .5);
}
